<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">About</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Course Director: <a href="http://thegrantlab.org/">Prof. Barry J. Grant</a></li>
          <li>Syllabus: <a href="https://bioboot.github.io/bimm104_w18/class-material/BarryGrant_CourseOverview_v1.pdf">Winter 2018</a></li>
          <li>Website: <a href="https://github.com/bioboot/bioinf525_w17">Setup</a></li>
            {% if site.email %}
            <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
