---
layout: post
title:  "Who has the right to know your genetic test results?"
date:   2018-01-07 22:37:29 -0800
categories: jekyll update
---

If a relative receives a genetic test result that has potential implications for you but chooses not to share it, do the doctors have a duty to disclose the information anyway? As things stand, absolutely not.  

<br>

![DNA_test](https://d1jn4vzj53eli5.cloudfront.net/db/14309288358218.jpg)

<br>

This principle came under fire earlier this year when a woman, known only as ABC, [won her appeal in the high court for the right to sue three NHS Trusts for damages](https://www.aol.co.uk/news/2017/05/16/woman-wins-court-fight-over-huntingtons-disease-claims/), for not disclosing her father’s genetic condition, which had implications for her and her unborn child.  

In 2007, ABC’s father killed his wife (ABC’s mother) and was convicted of manslaughter on grounds of diminished responsibility. Following the incident, doctors noticed he had signs of Huntington’s disease, a devastating genetic condition causing late-onset progressive cognitive and motor decline and behavioral changes, for which there is no cure. Genetic testing in 2009 confirmed the diagnosis.  

His doctors requested his consent to disclose this result to his daughter, who was now six weeks pregnant and was at 50% risk of inheriting the condition. He refused. ABC’s baby was born in 2010, and subsequently one of her father’s doctors accidentally disclosed his diagnosis of Huntington’s disease to her. ABC was then tested and told she had inherited the Huntington’s disease gene expansion.  

ABC is now suing the UK hospital trusts involved for damages as she feels that, in light of her pregnancy, she should have been informed of her father’s diagnosis. She claims she would have been tested herself as soon as she found out and, as a single mother, if the diagnosis had been confirmed she would have terminated the pregnancy rather than risk her child becoming an orphan or inheriting the condition.  

The case was initially rejected, but on appeal to the high court it is now being allowed to go to trial. 

#### Would you like to be a juror in this one? Where do you stand?



